@media screen and (min-width: 701px) {
	/*PC 向け */
nav li{
    display: inline-block;
    margin:0 50px 0 50px;
} 
}

@media screen and (max-width: 700px) {
/* 480px以下に適用されるCSS（スマホ用） */
#flex{
    list-style: none;
    margin-left: 0;
    padding-left: 0;  

}
ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;  
}
    
#label{
    font-size: 15px;
}
body{
    font-size: 20px;
}

#bodymenu{
    display:flex;
   flex-wrap: wrap;
}
nav li{
    display:flex;
    flex-wrap: wrap;
    margin: 0;
}
#menu{
    font-size: 20px;
}
nav li{
    display: inline-block;
    margin:0 10px 0 10px;
}

}


header{
	text-align: center;
   
}

ul{list-style:none;}

#mainImg{
    max-width: 100%;
}

#portfolioImg{
    max-width: 100%;
    border-radius: 5px;
   border: solid 1px #000;
   /* float: left; */
}
#portfolioImg2{
    max-width: 50%;
    border-radius: 5px;
   border: solid 1px #000;
   /* float: left; */
}
#portfolioImg3{
    max-width: 50%;
    border-radius: 5px;
   border: solid 1px #000;
   /* float: left; */
}
.center{
    text-align: center;
 justify-items: center;
}
#flex{
    list-style: none;
    margin-left: 0;
    padding-left: 0;  
}


#label{
background-color: aquamarine;
width: 8em;
font-size:15px;
padding: 3px 10px;
text-align: center;
display: inline-block;
margin: 10px;
}

#menu{
    text-decoration: none;
}

#bodymenu{
  display: flex;
  justify-content: center;

}